@font-face {
  font-family: Grumpy48Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/grumpy_black48-webfont.ttf") format(truetype);
}
@font-face {
  font-family: AauxNextRegular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/aauxnextregular-webfont.woff") format(woff);
}
html,
body {
  font-family: Grumpy48Regular;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ffe002;
}
#refer {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  top: 215px;
  left: 0;
  padding: 10px;
}
#refer h1 {
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  line-height: 10px;
}
#refer p {
  font-family: AauxNextRegular;
  font-size: 14px;
  line-height: 14px;
  width: 250px;
}
#footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 10px;
}
#footer p {
  font-family: AauxNextRegular;
  text-transform: none;
  font-size: 14px;
  line-height: 14px;
  width: 550px;
}
#footer a {
  color: #ffe002;
}
#footer a:hover {
  text-decoration: none;
}
