@font-face {
  font-family: Grumpy48Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/grumpy_black48-webfont.ttf") format(truetype);
}
@font-face {
  font-family: AauxNextRegular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/aauxnextregular-webfont.woff") format(woff);
}
html,
body {
  font-family: Grumpy48Regular;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ffe002;
  cursor: none;
}
#refer {
  display: none;
  position: absolute;
  width: 500px;
  height: 250px;
}
#refer h1 {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  line-height: 50px;
}
#refer p {
  font-family: AauxNextRegular;
}
